################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/TractopartesDeskApp/FileContentIndex/0011a3d7-e2c7-4296-ab50-0b1bad596a86.vsidx
/.vs/TractopartesDeskApp/FileContentIndex/35472ab4-9542-413b-87ab-dd16cd9fcd54.vsidx
/.vs/TractopartesDeskApp/FileContentIndex/3ace0f50-29ce-430e-8c13-cb9e3daf5292.vsidx
/.vs/TractopartesDeskApp/FileContentIndex/932335f3-e338-4b5b-b6c7-9eea9cc6854e.vsidx
/.vs/TractopartesDeskApp/FileContentIndex/bf0490cd-e10c-4804-8bea-97c72e402b2f.vsidx
/.vs/
